<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'Games and Quiz' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <!-- Initial menu -->
  <div *ngIf="!selectedQuiz" padding>
    <h1>{{ 'Quiz' | translate }}</h1>
    <ion-list>
      <button ion-item *ngFor="let quiz of quizs" (click)="openQuiz($event, quiz)">
        <ion-icon class="CASES-icon" [style.background-image]="quiz.icon" item-start></ion-icon>
        {{quiz.title}}
      </button>
    </ion-list>
    <h1>{{ 'Games' | translate }}</h1>
  </div>


  <!-- Content if something is clicked -->
  <div *ngIf="selectedQuiz" padding>
    <ion-slides #quizSlides>
        <ion-slide *ngFor="let question of article[0].questions; let i = index;">
            <h3>{{question.title}}</h3>
            <ion-list radio-group>
                <ion-item *ngFor="let answer of question.answers; let i = index;">
                    <ion-radio (click)="choosedAnswer(answer, question)" ></ion-radio>
                    <ion-label>{{i+1}}. {{answer[1]}}</ion-label>
                </ion-item>
            </ion-list>
        </ion-slide>
        <ion-slide>
            <h2>Final Score: {{quizScore}}</h2>
            <button (click)="restartQuiz()" ion-button full color="primary">{{'Restart' | translate}}</button>
        </ion-slide>

    </ion-slides>
  </div>

</ion-content>
