page-gamesquiz {
  h1{
    font-size: 2.0em;
    color: white ;
    background-color: #00426D;
    text-align:left;
    padding : 0.2em;
    margin:0px;
  }

  .list{
    margin-bottom: 0px;
  }

  .rightAnswer{
    color:green;
  }
  .badAnswer{
    color:red;
  }
  ion-icon {
    &[class*="CASES-icon"] {
      background: none;
      background-size: contain;
      background-repeat: no-repeat;
      width: 1.5em;
      background-position: center;
    }
    &[class*="perfectScore"] {
      color:green;
      background: none;
      background-size: contain;
      background-repeat: no-repeat;
      width: 1.5em;
      background-position: center;
    }
    &[class*="mediumScore"] {
      color:orange;
      background: none;
      background-size: contain;
      background-repeat: no-repeat;
      width: 1.5em;
      background-position: center;
    }
    &[class*="badScore"] {
      color:red;
      background: none;
      background-size: contain;
      background-repeat: no-repeat;
      width: 1.5em;
      background-position: center;
    }
  }
}
