<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'Games and Quiz' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <!-- Initial menu -->
  <div *ngIf="!selectedQuiz" padding>
    <h1>{{ 'Quiz' | translate }}</h1>
    <ion-list>
      <button ion-item *ngFor="let quiz of data[0].quizs" (click)="openQuiz($event, quiz)">
        <ion-icon class="CASES-icon" [style.background-image]="quiz.icon" item-start></ion-icon>
        {{quiz.title}} -- <ion-icon *ngIf="quiz.score==1" class="perfectScore" name="checkmark"></ion-icon>
        <ion-icon *ngIf="quiz.score>=0.5 && quiz.score <1 " class="mediumScore" name="checkmark"></ion-icon>
        <ion-icon *ngIf="quiz.score<0.5 && quiz.score != -1" class="badScore" name="checkmark"></ion-icon>

        <!-- {{quiz.score == -1?'':quiz.score}} -->
      </button>
    </ion-list>
    <h1>{{ 'Games' | translate }}</h1>
    <ion-list>
      <button ion-item *ngFor="let game of data[0].games" (click)="openGame($event, game)">
        <ion-icon class="CASES-icon" [style.background-image]="game.icon" item-start></ion-icon>
        {{game.title}}-- <ion-icon *ngIf="game.score==1" class="perfectScore" name="checkmark"></ion-icon>
        <ion-icon *ngIf="game.score>=0.5 && game.score <1 " class="mediumScore" name="checkmark"></ion-icon>
        <ion-icon *ngIf="game.score<0.5 && game.score != -1" class="badScore" name="checkmark"></ion-icon>

        <!-- {{quiz.score == -1?'':quiz.score}} -->
      </button>
    </ion-list>
  </div>


  <!-- Content if something is clicked -->
  <div *ngIf="selectedQuiz" padding>
    <ion-slides #quizSlides>
        <ion-slide *ngFor="let question of selectedQuiz.article[0].questions; let j = index;">
            <h3>{{question.title}}</h3>
            <ion-list radio-group>
                <ion-item *ngFor="let answer of question.answers; let i = index;">
                    <ion-radio (click)="choosedAnswer(answer, question, j)" ></ion-radio>
                    <ion-label text-wrap>{{i+1}}. {{answer[1]}}</ion-label>
                </ion-item>
            </ion-list>
        </ion-slide>
        <ion-slide>
            <h2>{{'Final Score' | translate}}: {{quizScore}}</h2>
            <button (click)="explanation()" ion-button full color="primary">{{'See the correction' | translate}}</button>
            <button (click)="restartQuiz()" ion-button full color="primary">{{'Restart' | translate}}</button>
            <button (click)="backToTheMenu()" ion-button full color="primary">{{'Return to the quiz Menu' | translate}}</button>
        </ion-slide>
        <ion-slide>
          <ion-item *ngFor="let item of quizCorrection">
              <p *ngIf="item[1]" class="rightAnswer">{{item[0]}}</p>
              <p *ngIf="!item[1]" class="badAnswer">{{item[0]}}</p>
              <p [innerHTML]="item[2]" text-wrap></p>
          </ion-item>
            <button (click)="restartQuiz()" ion-button full color="primary">{{'Restart' | translate}}</button>
            <button (click)="backToTheMenu()" ion-button full color="primary">{{'Return to the quiz Menu' | translate}}</button>
        </ion-slide>

    </ion-slides>
  </div>

</ion-content>
