<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'Password' | translate }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>
    <ng-template #recursiveList let-article let-level="level">
      <ion-item *ngFor="let item of article;">
        <p [class]="'tipstrick-custom-level-header-'+level">{{item.title}}</p>
        <p>{{item.content}}</p>
        <ion-list *ngIf="item.parts?.length;">
          <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.parts , level:level+1}"></ng-container>
        </ion-list>
      </ion-item>
    </ng-template>
    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: article, level:0}"></ng-container>
  </ion-list>
</ion-content>
