<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> {{ 'Phish or not ?' | translate }} </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides #gameSlides zoom [options]="{onlyExternal: false}">
    <ng-container *ngFor="let item of dataGame[0].items; let j = index;" >
      <ion-slide>
          <p *ngIf="item.type=='email'" [class]="item.type" [innerHTML] ="item.initial"><p>

          <div *ngIf="item.type=='image'" class="swiper-zoom-container">
            <img [src]="item.initial"> </div>
          <p>
            <button ion-button round color="secondary" (click)="choosedAnswer(1,j)">{{ 'Legitimate' | translate}}</button>
            <button ion-button round color="danger" (click)="choosedAnswer(0,j)">{{ 'Phishing' | translate}}</button>
          </p>
      </ion-slide>
      <ion-slide *ngIf="item.legit==0"> <!-- Display solution if it's a phish-->
          <p class="correctAnswer" *ngIf="answerCorrect">{{ 'Yes, it s a phish'| translate }} - {{'click on the red text to see the suspisious elements'| translate }}</p>
          <p class="badAnswer" *ngIf="!answerCorrect">{{ 'Unfortunately, it s a phish'| translate }} - {{'click on the red text to see the suspisious elements'| translate }}</p>

          <p *ngIf="item.type=='email'" [class]="item.type" [innerHTML] ="item.explanation" (click)="showExplanation($event,j)" ></p>

          <div *ngIf="item.type=='image'" class="swiper-zoom-container">
            <ion-list no-lines>
              <ion-item *ngFor="let expl of item.explanations">
                <button ion-button round color="danger" (click)="showExplanationForImage($event,expl[1])" > {{ expl[0] }}</button>
              </ion-item>
            </ion-list>
            <img [src]="item.explanation" >
          </div>




          <p>
            <button ion-button round color="primary" (click)="nextSlide()">{{ 'Next' | translate}}</button>
          </p>
      </ion-slide>
      <ion-slide *ngIf="item.legit==1"> <!-- Display solution if it's legit-->
        <p class="correctAnswer" *ngIf="answerCorrect">{{ 'Yes, it s legitimate'| translate }}</p>
        <p class="badAnswer" *ngIf="!answerCorrect">{{ 'Sorry, but it s legitimate'| translate }}</p>
        <p *ngIf="item.type=='email'" [class]="item.type" [innerHTML] ="item.explanation" (click)="showExplanation($event,j)" ></p>

        <div *ngIf="item.type=='image'" class="swiper-zoom-container">
          <ion-list no-lines>
            <ion-item *ngFor="let expl of item.explanations">
              <button ion-button round class="correctAnswer" (click)="showExplanationForImage($event,expl[1])" > {{ expl[0] }}</button>
            </ion-item>
          </ion-list>
          <img [src]="item.explanation" >
        </div>
        <p>
          <button ion-button round color="primary" (click)="nextSlide()">{{ 'Next' | translate}}</button>
        </p>
      </ion-slide>
    </ng-container>
      <ion-slide> <!-- Display Score last slide-->
          <h2>{{'Final Score' | translate}}: {{gameScore}} / {{dataGame[0].items.length}}</h2>
          <button (click)="restartGame()" ion-button full color="primary">{{'Restart' | translate}}</button>
          <button (click)="backToTheMenu()" ion-button full color="primary">{{'Return to the quiz Menu' | translate}}</button>
      </ion-slide>
  </ion-slides>
</ion-content>
