page-home {
  ion-grid {
    ion-button {
      &[class*="home-button"] {
        background: none;
        background-size: 60%;
        background-repeat: no-repeat;
        height: 100%;
        background-position: right 50% bottom 20%;
        color: black;
        padding-bottom: 80%;
      }
    }
  }
  .search-bar{
        ion-icon{
      color: black;
    }
  }

  .grid {
    display:grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
  }

  .toolbar .searchbar-ios {
    background: white;
  }

}
