page-settings {
  .alert-radio-group button .alert-radio-label:before {
    display: inline-block;
    width: 1.33333333em;
    line-height: 1em;
    vertical-align:middle;
  }

  .alert-radio-group button:nth-child(1) .alert-radio-label:before {
    content: url(../assets/flags/en.svg);
  }

  .alert-radio-group button:nth-child(2) .alert-radio-label:before {
      content: url(../assets/flags/fr.svg);
  }

  .alert-radio-group button:nth-child(3) .alert-radio-label:before {
    content: url(../assets/flags/de.svg);
  }

  ion-select {
    &[class*="CASES-"] {
      background-position: 100% 100%;
      background-repeat: no-repeat;
      width: 6em;
      height: 1.2em;
    }
    &[class*="CASES-flag-en"] {
      background-image: url(/assets/flags/en.svg);
    }
    &[class*="CASES-flag-fr"] {
      background-image: url(/assets/flags/fr.svg);
    }
    &[class*="CASES-flag-de"] {
      background-image: url(/assets/flags/de.svg);
    }
  }

}
