.alert-radio-group button .alert-radio-label:before {
  display: inline-block;
  width: 1.33333333em;
  line-height: 1em;
}

.alert-radio-group button:nth-child(1) .alert-radio-label:before {
  content: url(../assets/flags/en.svg);
}

.alert-radio-group button:nth-child(2) .alert-radio-label:before {
    content: url(../assets/flags/fr.svg);
}

.alert-radio-group button:nth-child(3) .alert-radio-label:before {
  content: url(../assets/flags/de.svg);
}
