

.alert-radio-group button:nth-child(1) .alert-radio-label:before {
    content: none !important;
}

.alert-radio-group button:nth-child(2) .alert-radio-label:before {
    content: none !important;
}

.alert-radio-group button:nth-child(3) .alert-radio-label:before {
    content: none !important;
}
