<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Spam signal</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-toolbar no-border-top color="primary">
    <ion-segment [(ngModel)]="categories" color="light">
        <ion-segment-button value="reportedCallHistorySpam">
            {{ 'Call history' | translate }}
        </ion-segment-button>
        <ion-segment-button value="reportedSpam">
            {{ 'Recently reported' | translate }}
        </ion-segment-button>
        <ion-segment-button value="reportSpam">
            {{ 'Report' | translate }}
        </ion-segment-button>
    </ion-segment>
    </ion-toolbar>

    <div [ngSwitch]="categories" padding>
        <ion-list *ngSwitchCase="'reportedCallHistorySpam'">
            <h2>{{ 'Incoming calls reported as spam' | translate }}</h2>
            <div *ngIf="callsFiltered.length == 0"><ion-icon name="checkmark"></ion-icon> {{ 'No spam detected' | translate }}</div>
            <ion-card *ngFor="let c of callsFiltered">
                <ion-card-header>
                    <ion-card-title><ion-icon name="call"></ion-icon> {{c.number}}</ion-card-title>
                    <ion-card-subtitle><ion-icon name="calendar"></ion-icon> {{c.date | date:'medium' }}</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <ion-grid>
                        <ion-row align-items-center>
                            <ion-col>
                                <div>
                                    {{ 'Reported' | translate }} 5 {{ 'times' | translate }}.
                                </div>
                            </ion-col>
                            <ion-col class="ion-align-self-end">
                                <div>
                                    <button ion-button color="danger" (click)="confirmHam()" float-right><ion-icon name="thumbs-down"></ion-icon></button>
                                    <button ion-button color="secondary" (click)="confirmSpam()" float-right><ion-icon name="thumbs-up"></ion-icon></button>
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>
        </ion-list>

        <ion-list *ngSwitchCase="'reportedSpam'">
            <h2>{{ 'Reported spam' | translate }}</h2>
            <div *ngIf="reportedSpams.length == 0"><ion-icon name="checkmark"></ion-icon> {{ 'No spam reported' | translate }}</div>
            <ion-card *ngFor="let c of reportedSpams">
                <ion-card-header>
                    <ion-card-title><ion-icon name="call"></ion-icon> {{c.number}}</ion-card-title>
                    <ion-card-subtitle><ion-icon name="calendar"></ion-icon> {{c.date | date:'medium' }}</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <ion-grid>
                        <ion-row align-items-center>
                            <ion-col>
                                <div>
                                    {{c.category}}
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>
        </ion-list>

        <ion-list *ngSwitchCase="'reportSpam'">
            <h2>{{ 'Report a spam' | translate }}</h2>
        </ion-list>
    </div>

</ion-content>
