.dark-theme {
    .content,
    .item-md,
    ion-item h2[class*="day"],
    .toolbar-md-primary .toolbar-background-md,
    .ion-toolbar,
    .card-title-md,
    .alert-wrapper,
    ion-card p {
        background-color: #000000 !important;
        color: #ffffff;
    }

    .button[class*="home-button"],
    .button-ios,
    .card-md {
            color: #ffffff;
            box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.86), 0 3px 1px -2px rgba(255, 255, 255, 0.8), 0 1px 5px 0 rgba(255, 255, 255, 0.88);

    }

    ion-card,
    page-passwordcard ion-img,
    page-about ion-card p,
    page-about .card-header-md,
    page-about .card-title-md {
      background-color: #404040 !important;
      color: #ffffff;
    }

    page-phishornot .item-md {
      background-color: transparent !important;
      color: #ffffff;
    }

    ion-card[class*="password-card"] {
      background-color: #ffffff !important;
      color: #000000;
    }
    .toolbar-title {
        color: #ffffff;
    }

    .header .toolbar-background {
        border-color: #ff0fff;
        background-color: #454545 !important;
    }


}
.alertDark,
.alertDarkAndFlags {
    .alert-wrapper {
      background-color: #404040 !important;
    }
    .alert-radio-label{
      color: #ffffff !important;
    }
    [aria-checked="true"] .alert-radio-label
     {
      color: #006FBA !important;
    }
    color: #ffffff;
}

.alertDarkAndFlags {

    .alert-radio-group button .alert-radio-label:before {
      display: inline-block;
      width: 1.33333333em;
      line-height: 1em;
      vertical-align:middle;
    }

    .alert-radio-group button:nth-child(1) .alert-radio-label:before {
      content: url(../assets/flags/en.svg) !important;
    }

    .alert-radio-group button:nth-child(2) .alert-radio-label:before {
        content: url(../assets/flags/fr.svg) !important;
    }

    .alert-radio-group button:nth-child(3) .alert-radio-label:before {
      content: url(../assets/flags/de.svg) !important;
    }
}
