

.dark-theme {
  .content {
    background-color: #000000 !important;
    color: #ffffff;
  }

  .toolbar-md-primary .toolbar-background-md {
      background-color: #000000 !important;
      color: #ffffff;
  }

  page-home ion-grid .button[class*="home-button"] {
    color: #ffffff;
  }

  .toolbar-title {
    color: #ffffff;
  }

  .header .toolbar-background {
    border-color: #ff0fff;
    background-color: #454545 !important;
  }

  .ion-toolbar {
      background-color: #000000 !important;
      color: #ffffff;
  }
}
