

.dark-theme {
  .content {
    background-color: #8d8d8d !important;
    color: #ffffff;
  }

  .toolbar-title {
    color: #ffffff;
  }

  .header .toolbar-background {
    border-color: #ff0fff;
    background-color: #000000 !important;
  }

  .ion-toolbar {
      background-color: #000000 !important;
      color: #ffffff;
  }
}
