<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>News</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-slides pager='true' effect='slide' initialSlide='0' (ionSlideDidChange)="onSlideDidChange($event)">
        <ion-slide *ngFor="let set of feeds_sets">
            <h2>{{set.title}}</h2>
            <ion-list>
              <button ion-item *ngFor="let item of items" (click)="itemSelected(item)">
                <h2>{{ item.title }}</h2>
                <h3>An article from {{ item.creator }}</h3>
                <p>{{ item.pubDate | date:'medium' }}</p>
              </button>
            </ion-list>
        </ion-slide>
    </ion-slides>
</ion-content>
