<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'Password Card' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h3>{{ 'How to generate your passwords?' | translate }}</h3>
  <ion-grid class="steps">
    <ion-row>
      <ion-col *ngFor="let step of steps" col-3 no-margin>
        <ion-card no-margin >
          <ion-card-header no-padding bold>
            {{ step.title | translate }}
          </ion-card-header>
          <ion-card-content no-padding>
            <ion-img [src]='step.img'>
            </ion-img>
            <ion-label text-wrap no-margin>
              {{ step.description | translate }}
            </ion-label>
          </ion-card-content>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="!creatingCard && !checkingCard">
    <ion-item-divider>
      {{'List of Cards'| translate}}
    </ion-item-divider>
    <ion-item
      *ngFor="let card of cards | keyvalue">
      {{card.value.name}}
      <ion-buttons item-end>
        <button ion-button icon-only clear (click)="displayCard(card.value.strings)">
          <ion-icon name="eye"></ion-icon>
        </button>

        <button ion-button icon-only clear (click)="deleteCard(card.key)">
          <ion-icon style="color:red" name="trash"></ion-icon>
        </button>
      </ion-buttons>
    </ion-item>
  </div>

  <form class="create-card" *ngIf="creatingCard" [formGroup]="createCard" (ngSubmit)="generateCard()">
    <ion-item>
      <ion-label floating [class.invalid]="!createCard.valid">{{'Card Name' | translate}}*</ion-label>
      <ion-input type="text" autofocus formControlName="name"></ion-input>
    </ion-item>
    <ion-list radio-group formControlName="options">
      <ion-item>
        <ion-label>{{'Alphanumeric and Special Characters' | translate}}</ion-label>
        <ion-radio value="true" ></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>{{'Only Alphanumeric' | translate}}</ion-label>
        <ion-radio value="false" ></ion-radio>
      </ion-item>
    </ion-list>
    <ion-buttons end>
      <button ion-button  type="submit" [disabled]="!createCard.valid">
        {{ 'Generate Card' | translate }}
      </button>
    </ion-buttons>
  </form>

  <ion-buttons end>
  <button ion-button *ngIf="!creatingCard && !checkingCard" (click)="newCard()">
    {{ 'New Card' | translate }}
  </button>
  </ion-buttons>

  <div *ngIf="checkingCard">
    <ion-buttons end>
      <button  ion-button icon-only clear (click)="checkingCard = false">
        <ion-icon style="color:gray" name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-card class="password-card">
      <ion-row>
         <ion-col class="header">
         </ion-col>
         <ion-col  class="header"*ngFor="let header of headers">
           {{header}}
         </ion-col>
      </ion-row>
      <ion-row *ngFor="let string of strings | keyvalue">
        <ion-col class="header"> {{string.key}}
        </ion-col>
        <ion-col *ngFor="let char of string.value">
          {{char}}
        </ion-col>
      </ion-row>
     </ion-card>
  </div>

</ion-content>
