page-passwordcard {
  .password-card {
    text-align: center;

    ion-col:nth-child(odd) {
      background-color: #f2f2f2;
    }

    ion-row:nth-child(odd) {
      background-color: #f2f2f2;

        ion-col:nth-child(odd) {
          background-color: #dedede;
        }
        ion-col {
          &[class*="header"]{
            background-color: black;
            color: white;
            font-weight: bold;
          }
        }
    }

    ion-col {
      &[class*="header"]{
        background-color: black;
        color: white;
        font-weight: bold;
      }
      font-size: 1.2rem;
    }
  }
  .create-card{
    ion-item{
      font-size: 1.2rem;
    }
  }
  .steps {
    ion-card{
      text-align: center;
      width: 100%;
      height: 100%;

      ion-card-header{
        color: #006FBA;
        font-weight: bold;
      }
      ion-label{
        word-wrap:break-word;
        font-size: 1rem;
      }
      ion-img {
        width: 60%;
        height: 100%;
        contain: none;
        padding: 5% 0 5% 0;
        background-color: white;
      }
    }
  }
  .invalid{
      color: red;
  }
}
