page-passwordcard {
  ion-grid {
    text-align: center;

    ion-col:nth-child(odd) {
      background-color: #E8E8E8;
    }

    ion-row:nth-child(odd) {
      background-color: #E8E8E8;
    }

    ion-col {
      &[class*="header"]{
        background-color: black;
        color: white;
        font-weight: bold;
      }
    }
  }
}
