page-tipstricks {
  /*
  * Style for the title of the different parts
  */
  .tipstrick-custom-level-header-0{
    color:red;
  }

  .tipstrick-custom-level-header-1{
    color:green;
  }

  .tipstrick-custom-level-header-2{
    color:blue;
  }

  .tipstrick-custom-level-header-3{
    color:black;
  }

  .tipstrick-custom-level-header-4{
    color:yellow;
  }
}
