<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Tips & Tricks</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="!selectedTipsTricks" padding>
    <ion-list>
      <button ion-item *ngFor="let page of pages" (click)="openPage($event, page)">
        <ion-icon [name]="page.icon" item-start></ion-icon>
        {{page.title}}
        <div class="item-note" item-end>
          {{page.note}}
        </div>
      </button>
    </ion-list>
  </div>
  <div *ngIf="selectedTipsTricks" padding>
    <ion-list>
      <ng-template #recursiveList let-article let-level="level">
        <ion-item *ngFor="let item of article;">
          <p [class]="'tipstrick-custom-level-title-'+level">{{item.title}}</p>
          <p [class]="'tipstrick-custom-level-content-'+level" [innerHTML]="item.content"></p>
          <ion-list *ngIf="item.parts?.length;">
            <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.parts , level:level+1}"></ng-container>
          </ion-list>
        </ion-item>
      </ng-template>
      <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: article, level:0}"></ng-container>
    </ion-list>
  </div>
</ion-content>
