<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'Tips and Tricks' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="!selectedTipsTricks" padding>
    <ion-list>
      <button ion-item *ngFor="let page of pages" (click)="openPage($event, page)">
        <ion-icon [name]="page.icon" item-start></ion-icon>
        {{page.title}}
      </button>
    </ion-list>
  </div>
  <div *ngIf="selectedTipsTricks" padding>
    <ion-list>
      <ng-template #recursiveList let-article let-level="level">
        <ion-item *ngFor="let item of article;">
          <p [class]="'tipstrick-custom-level-title-'+level">{{item.title}}</p>
          <p [class]="'tipstrick-custom-level-content-'+level" [innerHTML]="item.content"></p>
          <ion-list *ngIf="item.parts?.length;">
            <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.parts , level:level+1}"></ng-container>
          </ion-list>
        </ion-item>
      </ng-template>
      <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: article, level:0}"></ng-container>
    </ion-list>
    <span padding class="media"><ion-icon ios="ios-videocam" md="md-videocam" (click)="goToVideos($event, article[0].keywords)"></ion-icon></span>
    <span *ngIf="article[0].medias && article[0].medias[0].links" >
      <div *ngFor="let item of article[0].medias[0].links" padding class="media">
        <a button [href]="item" class="text-on-bottom">
            <ion-icon ios="ios-globe" md="md-globe"></ion-icon><br/>
            <label>{{extractHostName(item)}}</label>
        </a>
      </div>
    </span>

  </div>

</ion-content>
