page-tipstricks {
  /*
  * Style for the title of the different parts
  */
  .tipstrick-custom-level-title-0{
    color:red;
  }

  .tipstrick-custom-level-title-1{
    color:green;
  }

  .tipstrick-custom-level-title-2{
    color:blue;
  }

  .tipstrick-custom-level-title-3{
    color:black;
  }

  .tipstrick-custom-level-title-4{
    color:yellow;
  }

  .tipstrick-link{

  }
}
